.home{
    display: flex;    //home class is sidebar 

    .homeContainer{ //homeContainer class is navbar 

        flex: 6;     //used to divide both sidebar and navbar 
    }

    .widgets{
        display: flex;    //use to get horizontal given datas
        padding: 20px;
        gap: 20px;   //get the space
    }
}